@import '../../assets/scss/helpers/functions';
@import '../../assets/scss/colors';
.section {

    .cont {
        padding-bottom: 10%;
    }
   
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media only screen and (max-width: 880px) {
            img {
                margin-bottom: 1rem;
            }
            flex-direction: column;
        }
    }
    &__items {
        .col-4 {
            overflow: scroll !important;
            height: 100vh !important;
            
            
        }
        @media only screen and (max-width: 1300px) {
            .col-4 {
              width: 50% !important;
            }

            .col-8 {
                width: 50% !important;
              }
          }
        &__container {
            
            max-width: toREM(600);
            border-bottom: 1px solid $gray;
            :first-child {
                margin-right: .5rem;
            }
        }

        &__title {
            font-size: 1.2rem;
        }

        &__image {
            
            max-width: 7.5rem;
            height: auto;
        }

        &__description{
            max-width: toREM(250);
            
        }

        &__icon{
            margin-left: 2rem;
        }

        &__bottom {
            margin-top: toREM(30);
            margin-bottom: .3rem;
            &__button {
                border: 2px solid $orange;
                padding: 0 4px;
                border-radius: 50%;
            }

            &__comments {
                margin-left: toREM(80);
            }
        }

        &__dismiss {
            z-index: 10;
            position: fixed;
            bottom: 0;
            left: 0%;
            height: 6%;
            width: 33vw;
            background-color: $black;
            
            &__text {
                padding-top: 1rem;
                color: $orange;
                text-align: center;

            }
        }
    }
}