<section class="section section__post bg-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section__post__container">
                    <p class="section__post__time">{{time | date : 'shortTime'}}</p>
                    <h4 class="section__post__author">{{author}}</h4>
                    <img class="section__post__image" src="{{img_path}}" alt="">
                    <p class="section__post__title">{{title}}</p>
                </div>
            </div>
        </div>
    </div>
</section>


